<div class="responsive">
  <div>Item 1</div>
  <div>Item 1</div>
  <div>Item 1</div>
  <div>Item 1</div>
  
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets" : [
      {
        "name" : "Slick Demo"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}