<div class="responsive">
  <div>Item 1</div>
  <div>Item 1</div>
  <div>Item 1</div>
  <div>Item 1</div>
  
</div>

<script>
  $('.responsive').slick({
  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear'
});
</script>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets" : [
      {
        "name" : "Slick Demo"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}