<div class="responsive">
  <div>Item 1</div>
  <div>Item 1</div>
  <div>Item 1</div>
  <div>Item 1</div>
  
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}