.announcement-bar__message.h5 {
  text-transform: uppercase;
  font-weight: bold;
}

/* -----------HEADER STARTS----------------- */
.header.header--middle-left {
  display: grid;
}

.header__heading-logo-wrapper {
  width: 75%;
}

@media screen and (min-width: 990px) {
  .header.header--middle-left.header--mobile-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__heading-logo-wrapper {
    width: 100%;
  }

  .header__inline-menu {
    width: 60%;
  }

  .list-menu.list-menu--inline {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
  }

  .header__menu-item span {
    -decoration: none;
    padding: 5px 10px;
  }

  .header__active-menu-item,
  .header__menu-item span:hover {
    background-color: #661116;
    text-decoration: none;
  }
}

/* ----------CUSTOM INLINE RICHTEXT STARTS--------------- */
.custom-richtext .rich-text__blocks.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.custom-richtext .button.button--primary {
  background-color: #661116;
  font-weight: bold;
  height: 100%;
}

@media screen and (min-width: 990px) {
  .custom-richtext .rich-text__blocks {
    max-width: 100%;
  }
}
