/* -------GLOBAL-----------
 */

.card__heading.h5,
.card__heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.card .icon-wrap{
  display: none;
}

.price--sold-out .price__availability,
.price__regular {
  font-size: 1.9rem;
}

.announcement-bar__message.h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.button.button--primary {
  text-transform: uppercase;
  font-weight: bold;
}

.slider-counter.caption{
  display: none;
}

.slider-button .icon{
  width: 2.6rem;
}

.grid.product-grid.contains-card{
 overflow: hidden; 
}

@media screen and (min-width: 750px) and (max-width: 990px) {
  .grid__item.slider__slide, .collection-list__item.grid__item.slider__slide{
    max-width: 50%;
    width: 50%;
  }
}

/* -----------HEADER STARTS----------------- */
.header.header--middle-left {
  display: grid;
}

.header__heading-logo-wrapper {
  width: 75%;
}
.header__menu-item span {
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}
@media screen and (min-width: 990px) {
  .header.header--middle-left.header--mobile-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__heading-logo-wrapper {
    width: 100%;
  }

  .header__inline-menu {
    width: 60%;
  }

  .list-menu.list-menu--inline {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
  }

  .header__menu-item span {
    -decoration: none;
    padding: 5px 10px;
  }

  .header__active-menu-item,
  .header__menu-item span:hover {
    background-color: #661116;
    text-decoration: none;
  }
}

/* ----------CUSTOM INLINE RICHTEXT STARTS--------------- */
.custom-richtext .rich-text__blocks.center {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}



.custom-richtext .rich-text__buttons{
  max-width: 200px;
}

.custom-richtext .button.button--primary {
  background-color: #661116;
  font-weight: bold;
  height: 100%;
  padding: 2rem;
  font-size: larger;
}

.custom-richtext .rich-text__heading {
  text-transform: uppercase;
}
.custom-richtext .rich-text__buttons {
  margin: 0;
}

  .custom-richtext .rich-text__blocks {
    max-width: 100%;
  }

@media screen and (max-width: 768px){
  .custom-richtext .rich-text__blocks.center {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  .custom-richtext .rich-text__wrapper{
    width: 100%;
  }

  .custom-richtext .button.button--primary {
    padding: 1rem;
  }

  .custom-richtext .rich-text__heading{
    line-height: 1.5;
  }
  
}


/*     -------FEATURED COLLECTION----------
*/

@media screen and (min-width: 990px) {
  .featured-collection-custom, .collection-list-custom, image-with-text-custom {
    padding: 4rem 6rem;
  }
  .featured-collection-custom .collection__title.title-wrapper {
    padding: 0;
  }
}


/* --------------SECTION WITH MAP--------------- */
.location-map-section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  padding: 3rem auto;
}

.location-map-section .location-info{
  color: #fff;
  width: 30%;
}

.location-info{
  /* font-weight: bold; */
}

.location-info h2{
  font-weight: bolder;
  padding-bottom: 10px;
  color: white;
  text-transform: uppercase;
}