/* -------GLOBAL-----------
 */

.nerd-container{
 
  padding: 2rem;
}
.nerd-testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background: #aeaeae;
  gap: 1rem;
}


.nerd-testimonial--image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


.image-hw-full{
  width: 100%;
  height: 100%;
}

.card__heading.h5,
.card__heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.card .icon-wrap {
  display: none;
}

.price--sold-out .price__availability,
.price__regular {
  font-size: 1.9rem;
}

.announcement-bar__message.h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.button.button--primary {
  text-transform: uppercase;
  font-weight: bold;
}

.slider-counter.caption {
  display: none;
}

.slider-button .icon {
  width: 2.6rem;
}

.grid.product-grid.contains-card {
  overflow: hidden;
}

.slider-buttons.justify-center {
  justify-content: center;
}

.slider-buttons.justify-start {
  justify-content: flex-start;
}

.slider-buttons.justify-end {
  justify-content: flex-end;
}

.slider-button--prev .arrow-icon,
.slider-button--next .arrow-icon {
  transform: rotate(90deg);
}

.slideshow__text {
  border-radius: 20px;
}

.transparent-bg {
  background: transparent;
}

.slideshow__controls.slider-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  border: none;
}

.slideshow__controls.slider-buttons .slider-button{
  background: #fff;
  border-radius: 5px;
}

@media screen and (min-width: 750px) and (max-width: 990px) {
  .grid__item.slider__slide,
  .collection-list__item.grid__item.slider__slide {
    max-width: 50%;
    width: 50%;
  }
}

/* -----------HEADER STARTS----------------- */
.header.header--middle-left {
  display: grid;
}

.header__heading-logo-wrapper {
  width: 75%;
}
.header__menu-item span {
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}
@media screen and (min-width: 990px) {
  .header.header--middle-left.header--mobile-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__heading-logo-wrapper {
    width: 100%;
  }

  .header__inline-menu {
    width: 60%;
  }

  .list-menu.list-menu--inline {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
  }

  .header__menu-item span {
    -decoration: none;
    padding: 5px 10px;
  }

  .header__active-menu-item,
  .header__menu-item span:hover {
    background-color: #661116;
    text-decoration: none;
  }
}

/* ----------CUSTOM INLINE RICHTEXT STARTS--------------- */
.custom-richtext .rich-text__blocks.center {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.custom-richtext .rich-text__buttons {
  max-width: 200px;
}

.custom-richtext .button.button--primary {
  background-color: #661116;
  font-weight: bold;
  height: 100%;
  padding: 2rem;
  font-size: larger;
}

.custom-richtext .rich-text__heading {
  text-transform: uppercase;
}
.custom-richtext .rich-text__buttons {
  margin: 0;
}

.custom-richtext .rich-text__blocks {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .custom-richtext .rich-text__blocks.center {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  .custom-richtext .rich-text__wrapper {
    width: 100%;
  }

  .custom-richtext .button.button--primary {
    padding: 1rem;
  }

  .custom-richtext .rich-text__heading {
    line-height: 1.5;
  }
}

/*     -------FEATURED COLLECTION----------
*/

@media screen and (min-width: 990px) {
  .featured-collection-custom,
  .collection-list-custom,
  image-with-text-custom {
    padding: 4rem 6rem;
  }
  .featured-collection-custom .collection__title.title-wrapper {
    padding: 0;
  }
}

/* --------------SECTION WITH MAP--------------- */
.location-map-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  padding: 4rem 5%;
  margin: 0 auto;
}

.location-map-section .location-info {
  color: #fff;
  width: 30%;
}

.location-info {
  /* font-weight: bold; */
}

.location-info h2 {
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
}

.location-info p {
  font-size: 2rem;
}

.google-map {
  height: 45rem;
  width: 45%;
}

.google-map iframe {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 990px) {
  .location-map-section {
    flex-direction: column;
    gap: 30px;
    padding: 1rem;
    width: 100%;
  }

  .location-map-section .location-info {
    width: 100%;
    text-align: center;
  }
  .google-map {
    height: 20rem;
    width: 90%;
  }
}

/* ----------TWO IMAGES WITH TEXT----------- */

.absolute_item {
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.absolute_item__right {
  left: 50%;
  /*   transform: translateX(-50%); */
}

.absolute_item .image-with-text__content {
  background: none;
}

@media screen and (max-width: 750px) {
  .absolute_item {
    width: 100%;
    left: 0;
  }
  .absolute_item__left {
    top: 25%;
    transform: translateY(-50%);
  }
  .absolute_item__right {
    top: 75%;
    transform: translateY(-50%);
  }
}
