.nerd-iconwithtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
  gap: 2rem;
  margin: 0 auto;
}
.nerd-iconwithtext--padding {
  padding: 3rem;
}

.nerd-iconwithtext--text {
  font-size: 2rem;
  text-transform: uppercase;
}
