.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}


/* Contact Page New Start */

.custom-contact-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 8rem;
}

.custom-contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.custom-contact-title {
  font-size: calc(var(--font-body-scale) * 2rem);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}

.custom-contact-body {
  font-size: calc(var(--font-body-scale) * 1.8rem);
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.8;
}

.custom-contact-form {
  padding-left: 5rem;
}


.custom-contact-form label,
button {
  font-weight: 500;
}

.custom-contact-form textarea {
  min-height: 15rem;
}

@media screen and (max-width: 750px) {
  .custom-contact-page {
    display: block;
    padding: 0 1rem;
  }
  .custom-contact-info {
    text-align: center;
  }
  .custom-contact-form {
    padding-left: 0;
    padding: 5rem 0;
  }
  .custom-contact-form button {
    max-width: 100%;
    width: 100%;
  }
 
}

@media screen and (min-width: 990px) {

   .custom-contact-form textarea {
  min-height: 20rem;
}
}


@media screen and (min-width: 1400px) {
  .custom-contact-page{
    padding: 0 15%;
  }
   
}