.nerd-facets--vertical{
    display: flex;
    flex-direction: column;

}

.nerd-facets--vertical .field-currency{
    display: none;
}

.nerd--currency-group{
    display: flex;
    align-items: center;
}