.nerd-facets--vertical{
    display: flex;
    flex-direction: column;

}

.nerd-facets--vertical .field-currency{
    display: none;
}

.nerd--currency-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nerd--currency-to{
    display: none;
}

.nerd--price-output-group{
    display: flex;

}