.custom-richtext .rich-text__blocks.center {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.custom-richtext .rich-text__buttons {
  max-width: 200px;
}

.custom-richtext .button.button--primary {
/*   background-color: rgba(var(--color-button),var(--alpha-button-background)); */
  font-weight: bold;
  height: 100%;
  padding: 2rem;
  font-size: larger;
}

.custom-richtext .rich-text__heading {
  text-transform: uppercase;
}
.custom-richtext .rich-text__buttons {
  margin: 0;
}

.custom-richtext .rich-text__blocks {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .custom-richtext .rich-text__blocks.center {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  .custom-richtext .rich-text__wrapper {
    width: 100%;
  }

  .custom-richtext .button.button--primary {
    padding: 1rem;
  }

  .custom-richtext .rich-text__heading {
    line-height: 1.5;
  }
}

/*     -------FEATURED COLLECTION----------
*/

@media screen and (min-width: 990px) {
  .featured-collection-custom,
  .collection-list-custom,
  image-with-text-custom {
    padding: 4rem 6rem;
  }
  .featured-collection-custom .collection__title.title-wrapper {
    padding: 0;
  }
}

/* --------------SECTION WITH MAP--------------- */
